.root {
  width: 100%;
  height: 155px;
  margin-bottom: 66px;
  background: #9EACB9;
}

.title {
  position: absolute;
  width: 246px;
  height: 66px;
  padding: 44px 0 45px 89px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  /* identical to box height, or 66px */


  /* 0/Ultralight -Gray -100 */

  color: #F2F4F7;
}

